<div id="notfound" class="mat-typography">
    <div class="notfound">
        <div class="notfound-404">
            <h1>404</h1>
        </div>
        <h2>Oops! Nothing was found</h2>
        <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable. <a routerLink="/home">Return to homepage</a></p>
        <div class="notfound-social">
            <a href="https://github.com/mm92428/swasthify" target="blank "><i class="fab fa-github grow"></i></a>
        </div>
    </div>
</div>
